{% extends 'base.html' %}
{% block title %}
  All Todos
{% endblock %}

{% block body %}
  {% if not todos %}
    <div class="container d-flex flex-column justify-content-center align-items-center">
      <h1 class="text-center mt-4">No task is created. Please create atleast one task.</h1>
      <a class="btn btn-success" href="/">Add Task</a>
    </div>
  {% else %}
    <div class="container col-lg-10 mt-4">
      <div class="d-flex justify-content-between align-items-center">
        <h3>All Tasks</h3>
        <div>
          <a class="btn btn-success" href="/">Add Task</a>  
          <a class="btn btn-info" href="/completed/">Completed Task</a>
        </div>
      </div>
      <table class="table table-bordered shadow-lg mt-4 p-4">
        <thead>
          <tr>
            <th scope="col">Title</th>
            <th scope="col">Description</th>
            <th scope="col">Created At</th>
            <th scope="col">Update</th>
            <th scope="col">Delete</th>
            <th scope="col">Mark as Complete</th>
          </tr>
        </thead>
        <tbody>
          {% for todo in todos %}
            <tr>
              <td>{{ todo.todo_title }}</td>
              <td>{{ todo.todo_description }}</td>
              <td>{{ todo.created_time }}</td>
              <td>
                <a href="/update/{{ todo.id }}/" class="btn btn-success">Update</a>
              </td>
              <td>
                <a href="/delete/{{ todo.id }}/" class="btn btn-danger">Delete</a>
              </td>
              <td>
                <a href="/completed/{{ todo.id }}/" class="btn btn-primary">Mark as Complete</a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  {% endif %}
{% endblock %}
